/**
 * Crumb Component Style for uxcore
 * @author peijie.dpj
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

.kuma-uxcrumbs {
	a {
		color: #666;
		margin-right: 5px;
		&:hover {
			text-decoration: none;
		}
		&:after {
			padding-left: 8px;
			content: @arrow-right-content;
			font-family: @crumb-font-family;
		}
	}
	span {
		color: #999;
	}
}

