/**
 * Crumb Component Style for uxcore
 * @author peijie.dpj
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
//  TODO: 1. 箭头字体 2. hover状态

.kuma-uxcrumbs {
	a {
		color: @text-primary-color;
		margin-right: 10px;
		&:hover {
			text-decoration: none;
		}
		&:after {
			padding-left: 10px;
			content: '\e6a6';
			font-family: 'kuma';
			color: @text-thirdary-color;
		}
	}
	span {
		color: @text-thirdary-color;
	}
}

